@{
    ViewBag.Title = "Home Page";
}


<!--top nav end here-->
<!--banner start here-->
<div class="banner">
</div>
<!--banner end here-->
<!--about-->
<div class="about" id="about">
    <div class="container">
        <div class="col-md-4 about-left">
            <div class="ab-top">
                <h3>Infinitus Kredit</h3>
                <p>Hier geht es rasch und unkompliziert @Html.ActionLink("zum Wunschkredit", "KreditRechner", "Kredit").</p>
                @*<a href="#" data-toggle="modal" data-target="#myModal">Mehr Informationen</a>*@
            </div>
        </div>
        <div class="col-md-8 about-right">
            <h3>Einfach Online Kredit</h3>
            <div class="col-md-12 ab-lft">
                <h4>Sicher & Schnell</h4>
                <p>
                    Egal ob neue Einrichtung, ein Wellnessurlaub, Weiterbildung oder Geschenke für Ihre Mitmenschen - Sie können all Ihre Wünsche mit dem Infinitus Kredit ganz einfach erfüllen!
                    <br /><br />
                    Laut einer Studie sind Menschen die ihre sehnlichsten Wünsche erfüllen, viel glücklicher und zufriedener mit ihrem Leben. Wünsche kosten leider, doch Ihre Infinitus Bank steht Ihnen jederzeit mit einem Kredit zur Verfügung.
                    <br /><br />
                    Weitere Fragen zum Kredit können Sie an folgende E-Mail Adresse schicken<br />
                     <a class="link" href="infinitus@banking.com">infinitus@banking.com</a>
                </p>
            </div>
            </div>
        </div>
    </div>
<!--about-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pellentesque vehicula</h4>
            </div>
            <div class="modal-body">
                <p>In varius sem id aliquet rutrum. Pellentesque ut neque ligula. Fusce dapibus volutpat magna, ac feugiat dolor bibendum et. Integer dignissim gravida nunc, eget hendrerit enim. Quisque dapibus mollis finibus. Curabitur nulla enim, aliquet ac ultricies luctus, lacinia ut felis. Etiam aliquam massa nec lorem pulvinar porttitor. Maecenas in rutrum purus, eget consectetur arcu. Sed id pretium ligula, id hendrerit nunc. Nam ut tincidunt erat, sit amet accumsan risus..</p>
            </div>
        </div>
    </div>
</div>
<!--// Modal -->